html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

a{
  text-decoration: none;
}

.icono-menu{
  display: none;
}

h1 {
  font-size: 60px;
  color: #000;
  margin: 0;
}

h2 {
  font-size: 20px;
  color: #000;
}

h3 {
  text-align: center;
  font-size: 55px;
}

/*Inicio*/
header{
  background: linear-gradient(rgba(167, 219, 236, 0.9),rgba(167, 219, 236, 0.9)), url(Imagenes/fondo.jpg);
  height: 100vh;
  background-size: cover;
}

header .menu{
  background: #000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

header .menu .contenedor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 90%;
  margin: auto;
  height: 60px;
}

header .menu .contenedor a{
  display: flex;
  align-items: center;
  width: 20%;
  height: 100%;
}

header .menu .contenedor a img{
  transform: scale(1);
  transition: 0.4s;
  height: 60%;
}

header .menu .contenedor a img:hover{
  transform: scale(1.25);
  transition: 0.4s;
}

header .menu .contenedor nav{
  width: 40%;
  height: 100%;
}

header .menu .contenedor nav .lista-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  padding: 0;
}

header .menu .contenedor nav .lista-menu li{
  list-style: none;
  background: transparent;
  height: 100%;
  transform: scale(1);
  transition: 0.4s;
}

header .menu .contenedor nav .lista-menu li:hover{
  transform: scale(1.15);
  transition: 0.4s;
}

header .menu .contenedor nav .lista-menu li a{
  color: #C3C9CA;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  width: auto;
}

header .titulo .contenedor{
  display: flex;
  justify-content: center;
}

header .titulo .contenedor .contenedor-titulo{
  text-align: center;
  padding: 40vh 0;
}

/*Seccion sobre mi*/
main #sobre-mi{
  padding: 20px 0;
}

main #sobre-mi .contenedor{
  max-width: 1280px;
  width: 90%;
  margin: auto;
}

main #sobre-mi .contenedor .contenedor-sobremi{
  display: flex;
  justify-content: space-around;
}

main #sobre-mi .contenedor .contenedor-sobremi .imagen{
  width: 45%;
}

main #sobre-mi .contenedor .contenedor-sobremi .imagen img{
  width: 100%;
}

main #sobre-mi .contenedor .contenedor-sobremi .texto{
  width: 45%;
  text-align: justify;
}

/*Seccion mis proyectos*/
main #mis-proyectos{
  background: linear-gradient(rgba(167, 219, 236, 0.9),rgba(167, 219, 236, 0.9));
  padding: 20px 0;
}

main #mis-proyectos .contenedor{
  max-width: 1280px;
  width: 90%;
  margin: auto;
}

main #mis-proyectos .contenedor .contenedor-misproyectos{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #FFF;
}

main #mis-proyectos .contenedor .contenedor-misproyectos .proyecto{
  width: 24%;
  padding: 34px 30px 38px 30px;
  border-radius: 10px;
  margin-bottom: 40px;
  position: relative;
  background: linear-gradient(to top, #40A8F9,#5CB8FF);
  box-shadow: 0 12px 30px 0 rgba(86, 163, 222, 0.3);
}

main #mis-proyectos .contenedor .contenedor-misproyectos .proyecto h4{
  font-size: 30px;
  margin: 0;
}

main #mis-proyectos .contenedor .contenedor-misproyectos .proyecto p{
  margin-bottom: 20px;
  height: 40px;
}

main #mis-proyectos .contenedor .contenedor-misproyectos .proyecto img{
  float: right;
}

/*Redes sociales*/
footer{
  background: #2F2F2F;
  padding-bottom: 55px;
  text-align: center;
}

footer h3 {
  color: #C3C9CA;
}

footer .contenedor{
  max-width: 1280px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer .contenedor img{
  margin: 0 40px;
  transform: scale(1);
  transition: 0.4s;
  vertical-align: middle;
}

footer .contenedor img:hover{
  transform: scale(1.2);
  transition: 0.4s;
}

/*Responsive desing*/
@media (max-width:800px) {
  .icono-menu{
    display: block;
    float: right;
    height: 60%;
  }

  header{
    background-position: center;
  }

  header .menu .contenedor a img:hover{
    transform: scale(1);
  }

  header .menu .contenedor nav{
    position: absolute;
    top: 60px;
    left: 0;
    height: 268px;
    background: #000;
    width: 100%;
    display: none;
  }

  header .menu .contenedor nav .lista-menu{
    flex-direction: column;
  }

  header .menu .contenedor nav .lista-menu li{
    margin-bottom: 10px;
  }

  header .titulo .contenedor .contenedor-titulo{
    padding: 30vh 0;
  }

  main #sobre-mi .contenedor .contenedor-sobremi{
    flex-direction: column;
  }

  main #sobre-mi .contenedor .contenedor-sobremi .imagen img{
    width: 222%;
  }

  main #sobre-mi .contenedor .contenedor-sobremi .texto{
    width: 100%;
  }

  main #mis-empresas .contenedor .contenedor-misempresas{
    flex-direction: column;
  }

  main #mis-empresas .contenedor .contenedor-misempresas .empresa{
    width: 82%;
  }

  main #contacto .contenedor form{
    flex-direction: column;
    width: 100%;
  }

  main #contacto .contenedor form input[type="text"],main #contacto .contenedor form input[type="email"]{
    width: 100%;
  }

  footer .contenedor img{
    margin: 0 10px;
  }
}

@media (min-width:600px) and (max-width:800px) {
  header .titulo .contenedor .contenedor-titulo{
    padding: 40vh 0;
  }

  main #mis-empresas .contenedor .contenedor-misempresas .empresa{
    width: 75%;
    margin: auto;
    margin-top: 20px;
  }
}
