html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

a{
  text-decoration: none;
}

/*Inicio*/
header .menu{
  background: #000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

header .menu .contenedor{
  display: flex;
  max-width: 1280px;
  width: 90%;
  height: 62px;
  margin: auto;
}

header .menu .contenedor a{
  height: 100%;
  width: 97.41px;
  margin: auto;
}

header .menu .contenedor a img{
  height: 30px;
  margin-top: 16px;
  transform: scale(1);
  transition: 0.4s;
}

header .menu .contenedor a img:hover{
  transform: scale(1.25);
  transition: 0.4s;
}

/*Contenido*/
main{
  margin-top: 62px;
}

main #mi-historia{
  padding: 0;
}

main #mi-historia .contenedor{
  max-width: 1280px;
  width: 90%;
  margin: auto;
}

main #mi-historia .contenedor  h1{
  text-align: center;
  font-size: 55px;
  padding: 20px 0;
  margin:0;

}

main #mi-historia .contenedor .historia p{
  font-size: 20px;
  text-align: justify;
}

/*Responsive desing*/
@media (max-width:800px) {

  header{
    background-position: center;
  }

  header .menu .contenedor{
    height: auto;
  }

  header .menu .contenedor a img{
    margin-top: 5.5px;
    height: 30px;
  }
}
